//neutral scalle
$neutral: #FFF;
$neutral-50: #F2F2F2;
$neutral-100: #EEEEEE;
$neutral-150: #CDD6DE;
$neutral-200: #B2C1CD;
$neutral-300: #9DADBB;
$neutral-400: #72818D;
$neutral-600: #757575;
$neutral-800: #4D565D;
$neutral-900: #000;

// Blue scalle
$blue-50: #6CC8F7;
$blue-100: #00AEF3;
$blue-300: #0096ED;
$blue-600: #006CB2;
$blue-900: #004876;

// Green scalle
$green-50: #7DE1D6;
$green-100: #1FD1C2;
$green-300: #1FBFAE;
$green-600: #009182;
$green-900: #005F56;

// Yellow scalle
$yellow-50: #FFDDA0;
$yellow-100: #FFCB71;
$yellow-300: #FFB748;
$yellow-600: #C68B2E;
$yellow-900: #845C1E;

// Red scalle
$red-50: #FF7D9C;
$red-100: #FF3569;
$red-300: #FC1E38;
$red-400: #FF003A;
$red-600: #CB0026;
$red-900: #870017;



